@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

.app {
    height: 100vh;
    width: 100vw;
}

header {
    height: 70px;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-family: 'Fuggles', cursive;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

input {
    width: 750px;
    height: 50px;
    font-size: 20px;
    padding: 7px;
    border: 2px solid #333;
    border-radius: 100px;
    outline: none;
    transition: all 100ms ease-in;
    margin-top: 30px;
}

input:focus,
input:hover {
    width: 800px;
    box-shadow: 0px 0px 3px 2px #333;
    border-radius: 0;
}

p {
    margin-top: 20px;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}

.emoji {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.emojis {
    font-size: 50px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 10px 0 10px;
    font-family: 'Fuggles', cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}